---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Alejoide">
	<main>
		<Header />
		<AboutMe />
		<Projects />
		<Contact />
	</main>
</Layout>

<style>
	main {
	}
</style>
