---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout title="Alejoide">
	<main>
		<Header />
		<AboutMe />
	</main>
</Layout>

<style>
	main {
		
	}
</style>
