---
import Section from "../layouts/Section.astro";
---

<Section sectionId="AboutMe" , sectionTitle="Sobre mí">
	<p>Mi nombre es Alejo. Tengo 23 años y vivo en Argentina.</p>
	<p>
		En 2013 decidí orientar mis conocimientos hacia el mundo de la programación
		y la informática, estudiando informática en mi escuela secundaria técnica.
	</p>
	<p>
		En 2020, al finalizar mis estudios secundarios, comencé a trabajar como
		desarrollador backend en una empresa de desarrollo de software, donde
		aprendí a trabajar con Python, Flask, FastAPI, entre otras tecnologías.
	</p>
	<p>
		A comienzos de 2022, se me ofreció la oportunidad de trabajar como
		SRE/DevOps, un mundo nuevo con nuevos desafíos que me tocó enfrentar.
	</p>
	<p>
		A día de hoy me encuentro enamorado de esta nueva área, y apunto a seguir
		aprendiendo y creciendo profesionalmente en ella.
	</p>
</Section>
