---
import Section from "../layouts/Section.astro";
---

<Section sectionId="Contact" , sectionTitle="Contacto">
  <form>
    <p>Si querés contactarme, podés hacerlo a través de este formulario.</p>
    <div class="top">
      <div class="form-input">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="form-input">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
    </div>
    <div class="bottom">
      <div class="form-input">
        <label for="message">Mensaje</label>
        <textarea id="message" name="message" required></textarea>
      </div>
      <button type="submit">Enviar</button>
    </div>
    <p>
      O si preferís, podes escribirme a mi correo electrónico: <a
        class="email"
        href="mailto:contacto@alejoide.com">contacto@alejoide.com</a
      >
    </p>
  </form>
</Section>

<style>
  .form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
  }
  .top {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-bottom: 1em;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  input,
  textarea {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid var(--accentColor);
  }
  textarea {
    height: 5em;
  }
  button {
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--accentColor);
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover {
    background-color: var(--accentColorDark);
  }
  .email {
    font-weight: 700;
    color: var(--accentColor);
  }
  .email:hover {
    color: var(--accentColorDark);
  }
  @media (max-width: 900px) {
    .top {
      flex-direction: column;
    }
  }
</style>
