---
export const prerender = false;
import Section from "../layouts/Section.astro";
import ContactForm from "../components/ContactForm.tsx";
import { PUBLIC_EMAIL } from "astro:env/client";
---

<Section sectionId="Contact" , sectionTitle="Contacto">
  <p>Si querés contactarme, podés hacerlo a través de este formulario.</p>
  <ContactForm client:load />
  <p>
    O si preferís, podes escribirme a mi correo electrónico: <a
      href={`mailto:${PUBLIC_EMAIL}`}
      class="email">{PUBLIC_EMAIL}</a
    >
  </p>
</Section>

<style>
  .email {
    font-weight: 700;
    color: var(--accentColor);
  }
  .email:hover {
    color: var(--accentColorDark);
  }
</style>
