---
---

<nav>
  <div class="content">
    <a href="/" class="title">ALEJOIDE</a>
    <div class="links">
      <a href="#">Inicio</a>
      <a href="#AboutMe">Sobre mí</a>
      <a href="#Projects">Proyectos</a>
      <a href="#Contact">Contacto</a>
    </div>
  </div>
</nav>

<style>
  nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color blur: */
    /* background-color: rgba(0, 0, 0, .5); */
    backdrop-filter: blur(.5em);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    z-index: 1;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
		width: 70%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
	}
  .links {
    display: flex;
    gap: 2rem;
  }
  .links a:hover {
    color: var(--accentColor);
    transition-property: color;
    transition-duration: .3s;
  }
  .links a {
    color: white;
    text-decoration: none;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    letter-spacing: 0.25em;
  }
  @media (max-width: 900px) {
    .content {
      justify-content: center;
      flex-direction: column;
      width: 90%;
    }
    .title {
      margin-bottom: .5em;
    }
  }
</style>