---
---

<nav class="navbar">
  <div class="navbar-content">
    <a href="/" class="title">ALEJOIDE</a>
    <div class="links">
      <a href="#">Inicio</a>
      <a href="#">Sobre mí</a>
      <a href="#">Proyectos</a>
      <a href="#">Contacto</a>
    </div>
  </div>
</nav>

<style>
  .navbar {
    background-color: #221525;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    position: sticky;
    display: flex;
    justify-content: space-around;
  }
  .navbar-content {
    display: flex;
    flex-wrap: wrap;
		width: 70%;
    justify-content: space-between;
    align-items: center;
	}
  .links {
    display: flex;
    gap: 2rem;
  }
  .links a {
    color: white;
    text-decoration: none;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    letter-spacing: 0.25em;
  }
</style>