---
---

<nav class="navbar">
  <div class="navbar-content">
    <a href="/" class="title">ALEJOIDE</a>
    <div class="links">
      <a href="#">Inicio</a>
      <a href="#">Sobre mí</a>
      <a href="#">Proyectos</a>
      <a href="#">Contacto</a>
    </div>
  </div>
</nav>

<style>
  .navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .navbar-content {
    display: flex;
    flex-wrap: wrap;
		width: 70%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
	}
  .links {
    display: flex;
    gap: 2rem;
  }
  .links a {
    color: white;
    text-decoration: none;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    letter-spacing: 0.25em;
  }
  @media (max-width: 900px) {
    .navbar-content {
      justify-content: center;
      flex-direction: column;
      width: 90%;
    }
    .title {
      margin-bottom: .5em;
    }
  }
</style>