---
import Section from "../layouts/Section.astro";
---

<Section sectionId="Projects" , sectionTitle="Proyectos">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel aperiam
    consequatur ut fugit iste inventore eius possimus ullam suscipit omnis eos
    autem hic alias, veniam natus doloremque, neque ad ab.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel aperiam
    consequatur ut fugit iste inventore eius possimus ullam suscipit omnis eos
    autem hic alias, veniam natus doloremque, neque ad ab.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel aperiam
    consequatur ut fugit iste inventore eius possimus ullam suscipit omnis eos
    autem hic alias, veniam natus doloremque, neque ad ab.
  </p>
</Section>
