---
import Section from "../layouts/Section.astro";
import ProjectsList from "./ProjectsList.tsx";
---

<Section sectionId="Projects" sectionTitle="Proyectos">
  <div class="projects">
    <ProjectsList client:load />
  </div>
</Section>

<style>
  .projects {
    margin-top: 0.5rem;
  }
</style>
