---
import Section from "../layouts/Section.astro";
import ProjectsList from "./ProjectsList.tsx";
---

<Section sectionId="Projects" sectionTitle="Proyectos">
  <div class="projects">
    <ProjectsList client:load />
  </div>
</Section>

<style>
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5em;
  }
</style>
