SEND_EMAIL_FROM="contacto@alejoide.com"
SEND_EMAIL_TO="my-personal_email@gmail.com"
PUBLIC_EMAIL="contacto@alejoide.com"
RESEND_API_KEY="your-resend-api-key"
PROJECTS_API_URL="http://projects-api:8000"
