---
import Navbar from "../components/Navbar.astro";
import "@fontsource/montserrat";
import { colors } from "../config/colors.js";

interface Props {
	title: string;
}
---

<!doctype html>
<html lang="es-ar">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>

<style
	is:global
	define:vars={{
		backgroundLeftColor: colors.backgroundLeft,
		backgroundRightColor: colors.backgroundRight,
		accentColor: colors.accent,
		contentWidth: "70%",
	}}
>
	html {
		font-family: Montserrat;
		color: white;
		::selection {
			background: var(--accentColor);
		}
		scroll-behavior: smooth;
	}
	body {
		background: linear-gradient(
			135deg,
			var(--backgroundLeftColor),
			var(--backgroundRightColor) 55%
		);
		margin: 0;
	}
</style>
