---
import Navbar from '../components/Navbar.astro';
import '@fontsource/montserrat'
import { colors } from '../styles/colors.js';


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es-ar">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>


<style is:global define:vars={{
	backgroundLeftColor: colors.backgroundLeft,
	backgroundRightColor: colors.backgroundRight,
	accentColor: colors.accent,
}}>
	html {
		font-family: Montserrat;
		color: white;
		::selection {
			background: var(--accentColor);
		}
		scroll-behavior: smooth;
	}
	body {
		background: linear-gradient(
			135deg,
			var(--backgroundLeftColor),
			var(--backgroundRightColor) 55%
		);
		margin: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
