---
interface Props {
  sectionId: string;
  sectionTitle: string;
}
---

<section id={Astro.props.sectionId}>
  <div class="content">
    <div class="title">
      <h1>{Astro.props.sectionTitle}</h1>
    </div>
    <div class="body">
      <slot />
    </div>
  </div>
</section>

<style>
  section {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .content {
    width: var(--contentWidth);
    max-width: 1500px;
  }
  .title {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
    color: var(--accentColor);
  }
  @media (max-width: 900px) {
    .content {
      flex-direction: column;
    }
    .title {
      font-size: 2em;
    }
  }
</style>
